<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id = "buttonBox">
            <div class = "modeExplanation">
                Use map mode to plot points to a CSV
            </div>
            <button id = "mapModeButton" class = "mainMenuButton"> Map Mode </button>
            <div class = "modeExplanation">
                Use find mode to find the precise real world position of a user defined point
            </div>
            <button id = "trackModeButton" class = "mainMenuButton"> Find Mode </button>
            <button id = "quit" class = "mainMenuButton"> Quit and turn off GPS RTK devices </button>
        </div id = "buttonBox">
    </body>
</html>
