<button id="return">Return to Main Menu</button>

<div id="informationDisplay">

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Latitude</div>
        <div id="latitudeValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Longitude</div>
        <div id="longitudeValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Altitude</div>
        <div id="altitudeValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Fix Status</div>
        <div id="fixValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Satellites</div>
        <div id="satellitesValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">HDOP</div>
        <div id="hdopValue" class="mapModeDataValue">--</div>
    </div>

    <div class="mapModeDataDisplay">
        <div class="mapModeDataLabel">Points Saved</div>
        <div id="savedPointsValue" class="mapModeDataValue">0</div>
    </div>

</div>

<div id="userInput">
    <div class="mapModeDataLabel">Description (optional)</div>
    <input id="note" type="text" placeholder="Enter note for this point..."/>
</div>

<div id="saveMessage" style="display:none;"></div>

<div id="CSVButtonDiv">
    <button type="button" id="CSVButton">Add Location to CSV</button>
</div>
